/* Float section */

.btn-floating-container {
    top: 12vh;
    position: fixed;
}

.btn-floating {
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(245, 245, 245, 0.075);
    text-align: center;
    padding: 0px;
    font-size: 24px;
    background: var(--clr-1);
    color: var(--clr-2);
}