
/* NAVBAR */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 0 0.5em;
}


.logo {
    color: var(--clr-4);
    text-transform: uppercase;
}

.nav__links {
    display: flex;

    width: 60%;

    justify-content: space-around;
    color: var(--clr-4);

    position: absolute;
    background-color: var(--clr-1);
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav__links a {
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 0.875rem;
    color: var(--clr-4);
}

.nav__links a {
    opacity: 0;
}

a:hover {
    color: var(--clr-2);
    transition: all 0.5s ease;

}

.nav-active {
    transform: translateX(0%);
}

.burger {
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 6px;
    background-color: var(--clr-4);
    transition: all 0.3s ease;
}






/* Mobile Nav Animation */
@keyframes navLinkFade {
    from {
        opacity: O;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Burger Animation to X form */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}